*{
    margin:0;
    padding: 0;
}

.main{
    width: 1350px;
    background: url(bibii.png);
    background-position: center;
    background-size: cover;
    height: 109vh
}

.icon{
    padding-top: 25px;
    padding-left:35px;
    width: 60px;
    height: 60px;
}

.wholep{
    float: left;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    color: #DB1026;
    font-family: 'Trebuchet MS', sans-serif;
    font-size:40px;
    font-weight: bold;
    padding-top: 30px;
    padding-left: 35px;
}

.navbar{
    float: left;
    width:400px;
    height:100px;
}

ul{
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    padding-left: 90px;
    padding-top: 60px;
    font-size: 20px;
}

ul li a{
    text-decoration: none;
    color: #DB1026;
    font-family: sans-serif;
    font-weight: bolder;
}

.search{
    margin-left: 35px;
    display:flex;
    justify-content:space-around;
    align-items: center;
    padding-top: 35px;
    padding-left: 250px;
}

.srch{
    width: 150px;
    height: 37px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color:gainsboro;
    float: left;
}

#sr{
    width:50px;
    height: 37px;
    background-color: #DB1026;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    font-size: 12px;
    text-wrap: 10px;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#sr:hover{
    background: gainsboro;
    color: #DB1026;
}

#sr a{
    color:#fffcf3;
    text-decoration: none;
}

.p{
    float:left;
    
    
}